.circle-wrapper {
  $size: 200px;
  $animation-time: 3.33s;

  $background-color: #f7f9fc;
  $circle-color: #5ca7ff;

  position: relative;

  display: block;
  height: $size;
  width: $size;

  background: $background-color;
  border-radius: 50%;

  &__circle {
    width: 100%;
    height: 100%;

    animation: rotate $animation-time linear infinite;

    &:after, &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 50%;
    }

    // First half (top) of the cirlce with a left to right gradient
    &:before {
      border-radius: $size $size 0 0;
      background-image: linear-gradient(to right, rgba($circle-color, .5), $circle-color);
    }

    // Second half (bottom)
    &:after {
      top: 50%;

      border-radius: 0 0 $size $size;
      background-image: linear-gradient(to right, rgba($circle-color, .5), transparent);
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    // Adjust values below to change border-size
    height: 90%;
    width: 90%;

    background: #fff;
    border-radius: 50%;
  }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**
 * Additional styles.
 */
.description {
  margin-bottom: 15px;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__value, &__unit {
    display: block;

    text-align: center;
    line-height: 1;
  }

  &__value {
    font-size: 36px;
  }

  &__unit {
    font-size: 24px;
  }
}


#navbarr{
  background: beige;
/* background: -webkit-linear-gradient(to right, #F11712, #0099F7);
background: linear-gradient(to right, #F11712, #0099F7); */
margin-bottom:80px;
}
.top-images {
  height:50px;
  width:50px;
  border: 4px double #F3176E;
}
  .far:hover{
    color;#2984D0;
  }

}

#navbarrr{
  /* #00A3B4 */
  background: beige;
/* background: -webkit-linear-gradient(to right, #F11712, #0099F7); */
/* background: linear-gradient(to right, #F11712, #0099F7); */
margin-bottom:80px;
}
#profiles{
  border: 4px double #F3176E;;
}
*{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color:green;

}
.ionic {
  font-size: 40px;

  color:black;
}
.ionic:hover {
  /* font-size: 46px; */

  color:white;
}
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ddd;
    background: white;
  }
  .navbar .logo-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo-section div {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    width: 1px;
    background: black;
    margin: 0 20px;
  }
  .navbar .icons-section .fa {
    text-decoration: none;
    font-size: 100%;
    margin: 0 10px;
    padding-left: 10px;
  }
  .navbar .logo {
    width: 25px;
  }
  .navbar .logoname {
    width: 100px;
  }
  .navbar .input-search {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ddd;
    outline: 0;
  }
  .navbar .input-search:focus {
    text-align: left;
  }
